.app-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #222831;
}

.app-header h1 {
    color: white;
    font-size: 32px;
}

#logout-button {
    background-color: #393E46;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}